
<a href="/selling" style="text-decoration: none; color: #FFFFFF;">
<div id="condition-card" class="glass">

       <header>Live Auction Card</header>

       <div>Status: <span><%=status%></span></div>
       <div>Card No: <span maxlength="5"><%=data.token%></span></div>
       <div>Name: <span><%=name%></span></div>
       <div>Email: <span><%=email%></span></div>
       <div>Validate-upto: <span>13:20</span></div>
       <div hidden id="secret-hidden"><%=secret%></div>
      
       <div id="buttom">Highly Secured</div>
       


</div>
</a>